{% extends 'master.html' %}

{% block container %}
<!-- intro section -->
<div class="intro">
  <center>
    <h1 class="head">COLLEGE PREP</h1>
  </center>
  <div class="description">
    <h2 class="head2">OVERVIEW & PURPOSE</h2>
    <p class="description">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;College process? Confused? Nervous? Not sure what you need to do? Well read on!
      <br>
      The college process starts essentially freshmen year. The classes you take, extracurriculars you choose to do and your standardized tests will all be factored in. Look at the other pages on this website to learn more about those aspects in detail. This page will focus on how to apply to college and tips and tricks to help you get into your dream college.</p>
    <center>
      <img src="../static/images/college.png" width="40%"><br><br>
    </center>
  </div>
</div>

<!-- divider section -->
<div class="container">
  <div class="row">
    <div class="col-md-1 col-sm-1"></div>
    <div class="col-md-10 col-sm-10">
      <hr>
    </div>
    <div class="col-md-1 col-sm-1"></div>
  </div>
</div>
<br>

<!-- getting started section -->
<div class="description intro">
  <h1 class="head2">Getting Started</h1>
  <h2 class="subhead">Build up academic success in order to be prepared for college!</h2>
  <ul>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Improve time management skills </span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Don't settle for easy classes; challenge yourself whether it be by taking CollegeNow classes or Advanced Placement classes </span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Talk to your guidance counselor to make sure you are on track to graduating and are fulfilling the graduation requirements for your high-school</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Explore extracurriculars such as clubs, jobs, community service, sport and internships. Choose a few and stick to them. Continuity and improvement such as leadership or achievements will show your skills to college. Make your summers count!</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Maintain good relationships with teachers and guidance counselor. They will be the ones writing your letters of recommendation to colleges. Most colleges require 2 letters of recommendation from teacher plus counselor recommendation. It is recommended to get one from a STEM teacher (junior/senior year) and the other from a humanities teacher(junior/senior year)</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Start thinking about what you wish to study in</span></li>
  </ul>
</div>

<!-- divider section -->
<div class="container">
  <div class="row">
    <div class="col-md-1 col-sm-1"></div>
    <div class="col-md-10 col-sm-10">
      <hr>
    </div>
    <div class="col-md-1 col-sm-1"></div>
  </div>
</div>
<br>

<!-- getting started section -->
<div class="description intro">
  <h1 class="head2">College Checklist</h1>
  <h2 class="subhead">*Keep deadlines in mind*</h2>
  <ul>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Research colleges using the above criteria/website and make a tentative list of your choices</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Visit colleges or go on a tour/college fair, talk to students/faculty, research and learn more before finalizing your list (Use the form below to help you stay organized!)</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Look up requirements and deadlines for each schools such as letters of recommendation, standardized testing, and supplemental essays </span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Start on your common application &nbsp;and supplemental applications</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Send in all materials by the given deadlines</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Check application portals and your email frequently </span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Do interviews </span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Send financial aid documents if needed such as CAS, TAP, FAFSA, IDOC (use form included below!)</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Check your Student Aid Report when it comes for any discrepancies </span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Wait for results.... look at your options and decide on the college you will attend next year. CONGRATULATIONS!!</span></li>
  </ul>
  <center>
    <img src="../static/images/caps.png" width="70%"><br><br>
  </center>
</div>

<!-- divider section -->
<div class="container">
  <div class="row">
    <div class="col-md-1 col-sm-1"></div>
    <div class="col-md-10 col-sm-10">
      <hr>
    </div>
    <div class="col-md-1 col-sm-1"></div>
  </div>
</div>
<br>

<!-- getting started section -->
<div class="description intro">
  <h1 class="head2">Choosing a school</h1>
  <h2 class="subhead">Find your best fit through research! Use online websites such as <a href="https://bigfuture.collegeboard.org/college-search">this</a> to find which college fits you. You will need to consider the following criteria.</h2>
  <div class="row">
    <div class="col-md-6">
      <h2 class="head3">College Type</h2>
      <ul>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Liberal arts colleges: small class size, focus on undergraduate studies</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Universities: large class size, more resources</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;"> Technical institutes and professional schools: prepare you for specific career in specific field students have already chosen to pursue</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;"> Historically black colleges and universities: large black educational community</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;"> Tribal colleges: focus on American Indian students</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;"> Women's colleges: focus on serving female students</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;"> Community or junior schools: offer 2 years of liberal arts education</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;"> Proprietary institutions: under for-profit companies</span></li>
      </ul>
    </div>
    <div class="col-md-6 col-sm-6">
      <h2 class="head3">Location</h2>
      <ul>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Urban/rural </span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Distance from home</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Weather</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Distance from cities, communities</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Northeast/ Southeast/Midwest/Northwest/Overseas/Other</span></li>
      </ul>
    </div>
    <div class="col-md-6 col-sm-6">
      <h2 class="head3">Atmosphere</h2>
      <ul>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Co-ed/male/female</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Religious tradition</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">School spirit</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Teaching style</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Safety</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Diversity </span></li>
      </ul>
    </div>
    <div class="col-md-6 col-sm-6">
      <h2 class="head3">Selectivity and academics</h2>
      <ul>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Admission profile such as average test scores, GPA, and rank.</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Distribution requirements</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Offered majors</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Class size</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Special programs</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Faculty-student relations</span></li>
      </ul>
    </div>
    <div class="col-md-6 col-sm-6">
      <h2 class="head3">Expenses</h2>
      <ul>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Tuition fees</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;"> Room and board</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Financial aid</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Work-study </span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;"> Available scholarships </span></li>
      </ul>
    </div>
    <div class="col-md-6 col-sm-6">
      <h2 class="head3">Housing</h2>
      <ul>
	<li style="font-weight: 400;"><span style="font-weight: 400;"> Residence hall size</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;"> Food plan </span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Inside/outside campus </span></li>
      </ul>
    </div>
    <div class="col-md-6 col-sm-6">
      <h2 class="head3">Extracurriculars</h2>
      <ul>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Internships</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Clubs</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;"> Organizations</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Greek life</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Community service opportunities</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;"> Athletics</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Intramural sports</span></li>
      </ul>
    </div>
  </div>
</div>
<center>
  <img src="../static/images/campus.png" width="70%"><br><br>
</center>

<!-- divider section -->
<div class="container">
  <div class="row">
    <div class="col-md-1 col-sm-1"></div>
    <div class="col-md-10 col-sm-10">
      <hr>
    </div>
    <div class="col-md-1 col-sm-1"></div>
  </div>
</div>
<br>

<!-- getting started section -->
<div class="description intro">
  <h1 class="head2">Common application prompts</h1>
  <h2 class="subhead">Start thinking about your essay and read some of these well-written essays. <a href="https://www.princetonreview.com/college-advice/application-essay-topics">This</a> will help you find out how to tackle the essays. </h2>
  <h3 class="head3">2017-18 Common App Essays</h3>
  <p><span style="font-weight: 400;">Nearly 700 colleges accept the </span><a href="https://www.princetonreview.com/college-advice/are-you-ready-for-the-common-app"><span style="font-weight: 400;">The Common Application</span></a><span style="font-weight: 400;">, which makes it easy to apply to multiple schools with just one form. If you are using the Common App to apply for college admission, you will have 250&ndash;650 words to respond to ONE of the following prompts:</span></p>
  <ol>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Some students have a background, identity, interest, or talent that is so meaningful they believe their application would be incomplete without it. If this sounds like you, then please share your story.</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">The lessons we take from obstacles we encounter can be fundamental to later success. Recount a time when you faced a challenge, setback, or failure</span><em><span style="font-weight: 400;">. </span></em><span style="font-weight: 400;">&nbsp;How did it affect you, and what did you learn from the experience?</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Reflect on a time when you questioned or challenged a belief or idea. What prompted your thinking? What was the outcome?</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Describe a problem you've solved or a problem you'd like to solve. It can be an intellectual challenge, a research query, an ethical dilemma&mdash;anything that is of personal importance, no matter the scale. Explain its significance to you and what steps you took or could be taken to identify a solution.</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Discuss an accomplishment, event, or realization that sparked a period of personal growth and a new understanding of yourself or others.</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Describe a topic, idea, or concept you find so engaging that it makes you lose all track of time. Why does it captivate you? What or who do you turn to when you want to learn more?</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Share an essay on any topic of your choice. It can be one you've already written, one that responds to a different prompt, or one of your own design.</span></li>
  </ol>
  <ul>
    <li>Do not focus on just answering the question. Include personal achievements and show colleges why you are a good fit for them. Display positive qualities such as leadership, well-roundedness, passion, and teamwork.</li>
    <li><a href="https://www.apstudynotes.org/common-app/">Here</a> are a list of good Common App essays which can be used for reference.</li> 
</div>

<!-- divider section -->
<div class="container">
  <div class="row">
    <div class="col-md-1 col-sm-1"></div>
    <div class="col-md-10 col-sm-10">
      <hr>
    </div>
    <div class="col-md-1 col-sm-1"></div>
  </div>
</div>
<br>

<!-- getting started section -->
<div class="description intro">
  <h1 class="head2">Inerview Tips/Tricks</h1>
  <h2 class="subhead">Review these questions and practice answering them in front of a mirror</h2>
  <ol>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Tell me about yourself.</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">What are you interesting in this college?</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">What are your strengths and weaknesses?</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">What can you contribute to this school?</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">What would you change about your high school?</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">What is your favorite book and why?</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">What is a challenge you faced? How did you overcome it?</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Tell me about a time you failed.</span></li>
  </ol>
  <ul>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Similar to essays, focus on exhibiting your positive qualities through personal experiences and anecdotes. </span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Wear formal attire and arrive early in order to leave a good impression. </span></li>
  </ul>
</div>
{% endblock %}
