{% extends 'master.html' %}

{% block container %}
<div class="intro">
  <center>
    <h1 class="head">FEEDBACK</h1>
  </center>
    <div class="description">
      <h2 class="head2">Thank you for using our site</h2>
      <p class="description">We hope you learned a lot from using our site and that you will utilize this knowledge to obtain success in high school <a href=""></a>nd further education.</p>
    </div>
</div>

<!-- divider section -->
<div class="container">
  <div class="row">
    <div class="col-md-1 col-sm-1"></div>
    <div class="col-md-10 col-sm-10">
      <hr>
    </div>
    <div class="col-md-1 col-sm-1"></div>
  </div>
</div>
<br>

<div class="intro description">
  <h2 class="head2">Feedback form</h2>
  <p>After having used our site, please give us some feedback</p>
  <center>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeAcM7SZiX8VdCNN78L7u7wHADqXp2ph5ZFwLbJfyMVon9RYQ/viewform?embedded=true" width="90%" height="1000" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
  </center>
</div>

<!-- divider section -->
<div class="container">
  <div class="row">
    <div class="col-md-1 col-sm-1"></div>
    <div class="col-md-10 col-sm-10">
      <hr>
    </div>
    <div class="col-md-1 col-sm-1"></div>
  </div>
</div>
<br>

<div class="intro description">
  <h2 class="head2">Contact us</h2>
  <p>If you would like to contact us durectly, please fil out the form below.</p>
  <iframe src="/feed" onload="this.width = this.contentWindow.document.body.scrollWidth;this.height = this.contentWindow.document.body.scrollHeight;" id="feed" style="overflow:hidden;border:none;"></iframe>
</div>

<!-- divider section -->
<div class="container">
  <div class="row">
    <div class="col-md-1 col-sm-1"></div>
    <div class="col-md-10 col-sm-10">
      <hr>
    </div>
    <div class="col-md-1 col-sm-1"></div>
  </div>
</div>
<br>

<center>
  <a href="http://stuymsa.com">
    <img src="../static/images/stuy.png" width="30%">
  </a>
  <a href="http://getmistified.com">
    <img src="../static/images/mist.png" width="30%">
  </a>
</center>
{% endblock %}
