{% extends "master.html" %}

{% block container %}
<!-- home section -->
<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-6 col-md-6 col-sm-offset-6 col-sm-6">
	<h2>Welcome to</h2>
	<h1><strong>Student Essentials</strong></h1>
	<p>All of your scholarly needs in one place.</p>
	<a href="#opportunities" class="btn btn-default smoothScroll">LET'S GET CRACKIN'</a>
      </div>
    </div>
  </div>
</div>

<!-- opportuinites section -->
<div id="opportunities" class="info-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
	<h2>Opportunities</h2>
      </div>
      <div class="col-md-6 col-sm-6">
	<img src="../static/images/opportunities.jpg" class="img-responsive" alt="about img">
      </div>
      <div class="col-md-6 col-sm-6">
	<h3>High School Opportunities</h3>
	<h4>Utilize your talents</h4>
	<p>As a high school student, it is difficult to find job or internship opportunities. We have compiled a list of the best opportunities available right now.</p>
	<a href="/opportunities" class="btn btn-default btn-link">Show me!</a>
      </div>
    </div>
  </div>
</div>

<!-- divider section -->
<div class="container">
  <div class="row">
    <div class="col-md-1 col-sm-1"></div>
    <div class="col-md-10 col-sm-10">
      <hr>
    </div>
    <div class="col-md-1 col-sm-1"></div>
  </div>
</div>

<!-- study help section -->
<div id="studyhelp" class="info-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
	<h2>Study Help</h2>
      </div>
      <div class="col-md-6 col-sm-6">
	<img src="../static/images/studyhelp.jpg" class="img-responsive" alt="about img">
      </div>
      <div class="col-md-6 col-sm-6">
	<h3>Help with Studying</h3>
	<h4>Be a scholar</h4>
	<p>description here</p>
	<a href="/studyhelp" class="btn btn-default btn-link">Show me!</a>
      </div>
    </div>
  </div>
</div>

<!-- divider section -->
<div class="container">
  <div class="row">
    <div class="col-md-1 col-sm-1"></div>
    <div class="col-md-10 col-sm-10">
      <hr>
    </div>
    <div class="col-md-1 col-sm-1"></div>
  </div>
</div>

<!-- test prep section -->
<div id="testprep" class="info-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
	<h2>Test Prep</h2>
      </div>
      <div class="col-md-6 col-sm-6">
	<img src="../static/images/testprep.jpg" class="img-responsive" alt="about img">
      </div>
      <div class="col-md-6 col-sm-6">
	<h3>Test Preparation</h3>
	<h4>Ace those standardized tests</h4>
	<p>description here</p>
	<a href="/testprep" class="btn btn-default btn-link">Show me!</a>
      </div>
    </div>
  </div>
</div>

<!-- divider section -->
<div class="container">
  <div class="row">
    <div class="col-md-1 col-sm-1"></div>
    <div class="col-md-10 col-sm-10">
      <hr>
    </div>
    <div class="col-md-1 col-sm-1"></div>
  </div>
</div>

<!-- study tips section -->
<div id="studytips" class="info-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
	<h2>Study Tips</h2>
      </div>
      <div class="col-md-6 col-sm-6">
	<img src="../static/images/studytips.jpg" class="img-responsive" alt="about img">
      </div>
      <div class="col-md-6 col-sm-6">
	<h3>Study Tips</h3>
	<h4>Make the most of your study time</h4>
	<p>description here</p>
	<a href="/studytips" class="btn btn-default btn-link">Show me!</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
