{% extends 'master.html' %}

{% block container %}
<!-- intro section -->
<div class="intro">
  <center>
    <h1 class="head">Middle School</h1>
  </center><br>
<center>
<br><br>
</center>
<br>
<br>


</div>

  <div class="description">
    <h2 class="head2"><b>Where do you want to go?</b></h2>
    <p class="description">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <br>
<a href="studentessentials.me/growthmindset">The Growth Mindset</a>
      <br>
<a href="studentessentials.me/midprocess">The Middle School Process</a>
      <br>
<a href="studentessentials.me/shsat">The SHSAT</a>
</p>

  </div>
</div>

{% endblock %}
