{% extends 'master.html' %}

{% block container %}
<!-- intro section -->
<div class="intro">
  <center>
    <h1 class="head">Middle School Process</h1>
  </center><br>
<center>
<br><br>
</center>
<br>
<br>

<center>
  <img src="https://assets.dnainfo.com/generated/photo/2015/03/school-1426272497.jpg/larger.jpg" width="70%"><br><br>
</center>
<br>
  <div class="description">
    <h2 class="head2"><b>The Steps</b></h2>
    <p class="description">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <br>

Choosing your High school can be just as overwhelming as college applications. Knowing these tips and tricks can help you, the student, and your parents minimize stress and make the best choice. 

	
</p>
<br><br>

1. Getting into a suitable high school starts early. High school admissions often look at attendance, grades, and test scores. These are especially important in 7th grade so make sure to not miss class, be on time, and do well in class.
<br>
2. Start assessing yourself as a student. Are you an independent studier or would you prefer tutoring groups? Do you prefer classes in a larger or smaller setting? Are you willing to commute large distances or would you rather walk to school? The answers to these questions and more will help you know what you are looking for in a school.
<br>

3. Look through The Department of Education's annual High School Directory which is available in hard copy at your school, in PDF online and through a smartphone app. This rather large book lists every single public high school under NYC DOE. Furthermore it details the pros and cons of each school, where it is located, what it looks for in a student. We recommend sitting down for a couple of hours and listing all the schools you might be interested in.
<br>

4. Attend high school fairs and tours in order to talk to students and administration and get to know more about the school you are interested in. This may help you prioritize and create a ordered list. You get space for 12 high schools on your application so rank them in the order in which you like them. This is the order in which you will be viewed and considered. Put any zonal school last because they are required to take you in. 
<br>

5. Also look into the specialized high schools. In order to get into a specialized high school you must take the SHSAT exam. On the test you will rank which schools you prefer. If your score is high enough for the cutoff you will be accepted. There are various tutoring centers and free opportunities to help prep you for this test.
<br>

6. Submit your applications by December 1 and relax before you receive your results in March. Good luck!

<br>


  </div>
</div>

<!-- divider section -->
<div class="container">
  <div class="row">
    <div class="col-md-1 col-sm-1"></div>
    <div class="col-md-10 col-sm-10">
      <hr>
    </div>
    <div class="col-md-1 col-sm-1"></div>
  </div>
</div>
<br>

<!-- getting started section -->
<div class="description intro">
  <h2 class="subhead">Important Dates! </h2>
<br>
<center>
  <img src="http://www.lawandtheworkplace.com/files/2016/11/scheduling.jpg" width="70%"><br><br>
</center>
<br>
<br>
Sept. 24-25: Citywide high school fair. Brooklyn Technical High School, 29 Fort Greene Pl.<br>
<br>
Sept. 2016 to May 2017: Attend open houses and information sessions. Admission interviews, auditions. See schedule: <a href="http://nypost.com/affiliate/http%3A%2F%2Fschools.nyc.gov%2FChoicesEnrollment%2FHigh%2Fevents%2Fdefault.htm/http%3A%2F%2Fnypost.com%2F2016%2F09%2F17%2Fhow-to-pick-the-best-nyc-high-school-for-your-child%2F/">Schedule</a>
<br>
<br>

Sept. 8-Oct. 13: Register with guidance counselors to take the Specialized High School Admissions Test (SHSAT.) Register for auditions required by Fiorello H. LaGuardia High School of Music & Art and Performing Arts. <br>
<br>

Oct. 15-16: Attend borough high-school fairs, 10 a.m. to 3 p.m.
<br>

Bronx: DeWitt Clinton Educational Campus, 100 West Mosholu Parkway

<br>
Manhattan: Martin Luther King, Jr. Campus, 122 Amsterdam Ave.
<br>
Brooklyn: Sunset Park HS, 153 35th St.
<br>
Queens: Francis Lewis HS, 58-20 Utopia Parkway
<br>
Staten Island: Port Richmond HS, 85 St. Josephs Ave.
<br>
<br>

Oct. 19: Tickets to take the SHSAT available from counselors for students who registered.
<br>
<br>
Oct. 22-23: SHSAT given to current eighth-grade students.
<br>
<br>
Oct. 30 and Nov 5: SHSAT given to current ninth-grade students, and eighth- and ninth-grade English language learners and students with special needs or approved accommodations; make-up tests by permission only.
<br>
<br>
Dec. 1: Deadline to submit high school applications at middle schools. Students list up to 12 choices in order of preference. Selective schools rank applicants; others assigned by lottery.
<br>
<br>
March: Students receive a high-school round-one offer letter. Students who receive an offer from a specialized school may also get a match to one of their other 12 picks, and must choose between them. Students not matched to any of their choices get a round-two application.
<br>
<br>
March: New programs announced. Round two fair held. Submit Round two applications.
<br>
<br>
May: Round-two match letters sent to students. Appeals to change schools -- based on a documented hardship -- can be filed.
<br>


</div>

{% endblock %}
