{% extends 'master.html' %}

{% block container %}
<!-- intro section -->
<div class="intro">
  <center>
    <h1 class="head">STUDY HELP</h1>
  </center>
  <div class="description">
    <h2 class="head2">OVERVIEW & PURPOSE</h2>
    <p class="description">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Studying starts the moment we enter school. But even after all those years of taking tests and quizzes, most of us don't discover the studying tips and tricks that can save us from those all nighters and help us remember information more efficiently until it's too late. If you want to learn some of these tips and studying methods, scroll below!</p>
  </div>
</div>

<center>
  <img src="../static/images/studypanic.jpg" width="40%"><br><br>
</center>

<!-- divider section -->
<div class="container">
  <div class="row">
    <div class="col-md-1 col-sm-1"></div>
    <div class="col-md-10 col-sm-10">
      <hr>
    </div>
    <div class="col-md-1 col-sm-1"></div>
  </div>
</div>
<br>

<!-- note taking section -->
<div class="description intro">
  <div>
    <h2 class="head2">Note Taking</h2>
    <p>We've all been there ---we can't find our notes or we can't read our scrawly, messy handwriting.  But fear no more, your days of note taking nightmares are over. Here are some tips on how to take proper and effective notes.</p>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <span class="head3">Guidelines for Taking Notes</span>
      <ul>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Take notes </span><strong>consistently</strong></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Don&rsquo;t be concerned with spelling and grammar.</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Take notes </span><strong>selectively.</strong><span style="font-weight: 400;"> You should not write down every single word your professor/teach states. </span></li>
	<li style="font-weight: 400;"><strong>Paraphrase </strong><span style="font-weight: 400;">what you hear into your own words</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Jot down </span><strong>major</strong><span style="font-weight: 400;"> ideas</span></li>
	<li style="font-weight: 400;">If possible, use pens of <strong>different colors </strong><span style="font-weight: 400;">and highlight important words.</span></li>
	
      </ul>
    </div>
    <div class="col-md-6 col-sm-6">
      <span class="head3">How to Find Major Points is Lessons/Lectures</span>
      <p><span style="font-weight: 400;">Teachers speak so fast that it&rsquo;s almost impossible to make out what they&rsquo;re saying, making it hard to understand what they&rsquo;re supposed to be teaching. If your teacher does one of the following, it most likely means he or she is trying to emphasize an important point. </span></p>
      <ul>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Writes words or phrases on the board</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Uses repetition</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Uses key words such as &ldquo;Now this is important&rdquo; / &ldquo;Remember&hellip;&rdquo;</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Pauses before or after an idea</span></li>
      </ul>
    </div>
    <div class="col-md-6 col-sm-6">
      <span class="head3">Ways to Reduce Lengthy Notes</span>
      <ol>
	<li><strong>Use symbols to abbreviate:</strong>
	  <ul>
	    <li style="font-weight: 400;"><span style="font-weight: 400;">+, &amp; for and, plus</span></li>
	    <li style="font-weight: 400;"><span style="font-weight: 400;">= for equal</span></li>
	    <li style="font-weight: 400;"><span style="font-weight: 400;">- for minus</span></li>
	    <li style="font-weight: 400;"><span style="font-weight: 400;"># for number</span></li>
	    <li style="font-weight: 400;"><span style="font-weight: 400;">X for times</span></li>
	    <li style="font-weight: 400;"><span style="font-weight: 400;">&gt; greater than, more</span></li>
	    <li style="font-weight: 400;"><span style="font-weight: 400;">&lt; less than, smaller</span></li>
	    <li style="font-weight: 400;"><span style="font-weight: 400;">w/ for with</span></li>
	    <li style="font-weight: 400;"><span style="font-weight: 400;">w/o for without</span></li>
	    <li style="font-weight: 400;"><span style="font-weight: 400;">w/in for within</span></li>
	    <li style="font-weight: 400;"><span style="font-weight: 400;">/ for per</span></li>
	    <li style="font-weight: 400;"><span style="font-weight: 400;">---&gt; for as a result or leads to </span></li>
	    <p><span style="font-weight: 400;">Example: The diameter of planet x is four times greater than the diameter of y.</span>
	      <br><span style="font-weight: 400;">Planet x = 4x &gt; diameter planet y</span></p>
	  </ul>
	</li>
	<li><strong>Abbreviate long words</strong></li>
	<li>Use any one of the five methods mentioned below:
	  <ul>
	    <li style="font-weight: 400;"><span style="font-weight: 400;">The Sentence Method</span></li>
	    <li style="font-weight: 400;"><span style="font-weight: 400;">The Cornell Method</span></li>
	    <li style="font-weight: 400;"><span style="font-weight: 400;">The Outline Method</span></li>
	    <li style="font-weight: 400;"><span style="font-weight: 400;">The Mapping Method</span></li>
	    <li style="font-weight: 400;"><span style="font-weight: 400;">The Charting Method</span></li>
	  </ul>
      </ol>
    </div>
    <div class="col-md-6 col-sm-6">
      <p class="head3"><strong><em>The Sentence Method </em></strong></p>
      <ul>
	<li style="font-weight: 400;"><strong>Method:</strong><span style="font-weight: 400;"> Write every new idea on a separate line, numbering as you progress. </span></li>
	<li style="font-weight: 400;"><strong>When to use: </strong><span style="font-weight: 400;">Use this method when the lesson is kind of organized, but it is full of important content. The different points are unrelated.</span></li>
	<li style="font-weight: 400;"><strong>Example: </strong><span style="font-weight: 400;">Melville did not try to represent life as it really was. The language of Ahab, Starbuck, and Ishmael, for instance, was not that of real life. &rarr; Mel didn&rsquo;t repr. Life as was; e.g. lang. Of Ahab, etc. no of real life. </span></li>
      </ul>
    </div>
    <div class="col-md-6 col-sm-6">
      <p class="head3"><strong><em>The Cornell Method</em></strong></p>
      <p>Systematic method for condensing and organizing notes. This system divided the page up into two sections; the main space and the small, left space. In the main space, record any notes and on the smaller section, label each idea and detail with a keyword or &ldquo;cue&rdquo;.</p>
      <img src="../static/images/cornell.png" width="80%">
    </div>
    <div class="col-md-6 col-sm-6">
      <p class="head3"><strong><em>The Outline Method</em></strong></p>
      Dash or indented outlining is best used for most classes, except for classes such as physics or math.
      <ol>
	<li style="font-weight: 400;"><span style="font-weight: 400;">The most general information begins at the left margin. As the information gets more specific, you go towards the right margin. </span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Indenting indicated relationship between different points.</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Though they aren&rsquo;t necessary, you can organize further with numbers, letters or Roman numerals. </span></li>
      </ol>
    </div>
    <div class="col-md-6 col-sm-6">
      <p class="head3"><strong><em>The Mapping Method</em></strong></p>
      Used to connects each fact or idea to one central idea. It is a graphic representation of the lesson. Use when the lecture content is heavy and well organized
      <img src="../static/images/mapping.png" width="90%">
    </div>
    <div class="col-md-6 col-sm-6">
      <p class="head3"><strong><em>The Mapping Method</em></strong></p>
      Used in history or foreign language classes. If the format of the lecture is chronological or mostly definition based, set up your paper by drawing columns and labeling appropriate headings in the table. 
      <img src="../static/images/charting.png" width="90%">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h2 class="head2">Reading</h2>
      <p><span style="font-weight: 400;">Learning how to read quickly and effectively is a skill most students should develop early on since that is how we get most of our information. Although it can look intimidating at first, implementing these strategies can help save you from reading your textbook/notes a billion times. </span></p>
      <ol>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Scan the chapter and the main headings</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Skim through the subheadings to get a general overview.</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Read the bolded words </span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Read the chapter once, focusing on big ideas</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Read one more time to understand the specific points.</span></li>
      </ol>
      <p class="head3"><strong><em>Use the following strategies when reading:</em></strong></p>
      <ul>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Read out loud</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Jot down quick notes as you read</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Make small doodled or pictures that can help you remember the ideas</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Outline the chapter as you read</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Try explaining what you read to someone else</span></li>
      </ul>
    </div>
    <div class="col-md-6 col-sm-6">
      <h2 class="head2">Where to Study</h2>
      <p><span style="font-weight: 400;">Finding a quiet place where you can focus and concentrate on your studies is just as important as taking good notes or reading. </span><strong>Make sure the location where you are studying is:</strong></p>
      <ul>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Distraction free. If distractions do remain, try to eliminate them as much as possible. </span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Make sure you are comfortable and there is good lighting</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Everything you need should be within reach. You should not have to walk to another room or place to get a book or a pencil.</span></li>
      </ul>
      Possible locations:
      <ul>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Your local or school library </span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Barnes &amp; Nobles or other book stores</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Cafes and Coffee Stores</span></li>
      </ul>
      <p><span style="font-weight: 400;">When choosing a location to study, understand your personal requirements. If you spend majority of your day in school, find a place at your school where you can study quietly without any distractions. </span></p>
      <p class="head3"><strong><em>Ask these questions:</em></strong></p>
      <ul>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Do you have prefer to study in a quiet setting or do you prefer having others around you so you can interact with them?</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">What extracurriculars do you participate in? How does participating in these activities affect where you study? </span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Are you mainly studying in one place or does your study place shift depending on the situation?</span></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <h2 class="head2">When Should I Study?</h2>
      <ul>
	<li>You should review your notes for 15 minutes every day or even briefly glance through them for a minute or two. Contrary to popular belief, having intense study sessions leading up to the exams helps you remember a lot more for a specific exam. This is good for short term studying because it's fresh on your mind.
	</li>
	<li>A few weeks (or days depending on the type of test) before your exam, make sure to eliminate your distractions. Don't watch tv, avoid social media and don't see your friends as much.
	</li>
      </ul>
    </div>
    <div class="col-md-12 col-sm-12">
      <h3 class="head3">Study Sessions</h3>
      <ul>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Break up your study sessions into increments of 40 to 90 minutes, giving yourself a five to ten minute break in between. </span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Do not make your breaks to long. A 40 minute session followed by 30 minutes of break is counterproductive.</span></li>
      </ul>
    </div>
    <div class="col-md-12 col-sm-12">
      <h3 class="head3">Scheduling</h3>
      <ul>
	<li style="font-weight: 400;"><span style="font-weight: 400;">If your school does not provide you with a planner, invest in one. Write down any important dates such as test days, days where you are busy for an extracurricular or days when you&rsquo;ll relax. </span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Set strict times for studying. It&rsquo;s usually hard to follow through these times but setting up alarms on your phones or downloading apps such as facebook lock or app lock will prevent you from procrastinating.</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Set to-do lists. Be specific. Instead of writing &ldquo;study for chemistry&rdquo;, write down which chapters and pages.</span></li>
    </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <h2 class="head2">Study Hacks</h2>
      <ul>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Use mnemonic devices to memorize and make acronyms.</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Make flashcards (writing flashcards out is the best way but online websites or apps such as Quizlet or Study Blue help as well.</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Associate pictures or stories with the key concepts </span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Block distractions (ie apps like Self Control and FacebookLock monitors the amount of time you spend on a website and blocks it based on that).</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Make study guides / cheat sheets where you describe possible situations you might encounter during an exam and what approach you&rsquo;ll take\</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Use practice tests (Problem Attic is a website that compiles regents questions for specific topics from specific subjects from 1998 to 2016).</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Treat yourself.</span></li>
      </ul>
    </div>
  </div>  
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <h2 class="head2">Useful Websites and Apps</h2>
      <ul>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Quizlet: users can create &ldquo;sets&rdquo; of flashcards for any subject. The website generates the flashcards for you and you can create practice tests and matching games such as scatter and space run.</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Go Conqr: this website is specifically oriented for visual learners. Users can create mind maps which breaks down broad topics into smaller sections. </span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Memorize.com: this website is perfect for learning terms and definitions. Users can post articles, images and diagrams to share information on any number of topics.</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Schooltraq: this is an online digital planner that helps keep due dates in check. It ensures that you never lose your schedule as it syncs between your phone and computer. </span></li>
	<li><span style="font-weight: 400;">Khan Academy: this website has tons of video lessons and tutorials for various subjects. The videos are well-paced and in-depth, so you'll be sure to learn what you need for class.</span></li>

    </div>
  </div>
</div>
{% endblock %}
