{% extends 'master.html' %}

{% block container %}
<!-- intro section -->
<div class="intro">
  <center>
    <h1 class="head">TEST PREP</h1>
  </center>
  <div class="description">
    <h2 class="head2">OVERVIEW & PURPOSE</h2>
    <p class="description">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Doing well on standardized tests is one of the most crucial parts of doing well in high school. Scroll down to learn how you can ace those tests.</p>
  </div>
</div>

<!-- divider section -->
<div class="container">
  <div class="row">
    <div class="col-md-1 col-sm-1"></div>
    <div class="col-md-10 col-sm-10">
      <hr>
    </div>
    <div class="col-md-1 col-sm-1"></div>
  </div>
</div>
<br>

<!-- SAT vs ACT section -->
<div class="description intro">
  <div class="row">
    <h2 class="head2">SAT vs ACT</h2>
    <h3 class="subhead">Which one should I take?</h3>
    <p>Colleges accept both the SAT and ACT so it is up to you to decide which one you want to take. Here's some basic information about each test:</p>
    <table class="table table-striped">
      <tbody>
	<tr>
	  <td>&nbsp;</td>
	  <td>
	    <p><strong>SAT</strong></p>
	  </td>
	  <td>
	    <p><strong>ACT</strong></p>
	  </td>
	</tr>
	<tr>
	  <td>
	    <p><strong>Why Take It</strong></p>
	  </td>
	  <td>
	    <p><span style="font-weight: 400;">Colleges use SAT scores for admissions and merit-based scholarships.</span></p>
	  </td>
	  <td>
	    <p><span style="font-weight: 400;">Colleges use ACT scores for admissions and merit-based scholarships.</span></p>
	  </td>
	</tr>
	<tr>
	  <td>
	    <p><strong>Test Structure</strong></p>
	  </td>
	  <td>
	    <ul>
	      <li style="font-weight: 400;"><span style="font-weight: 400;">Reading</span></li>
	      <li style="font-weight: 400;"><span style="font-weight: 400;">Writing &amp; Language</span></li>
	      <li style="font-weight: 400;"><span style="font-weight: 400;">Math</span></li>
	      <li style="font-weight: 400;"><span style="font-weight: 400;">Essay (Optional)</span></li>
	    </ul>
	  </td>
	  <td>
	    <ul>
	      <li style="font-weight: 400;"><span style="font-weight: 400;">English</span></li>
	      <li style="font-weight: 400;"><span style="font-weight: 400;">Math</span></li>
	      <li style="font-weight: 400;"><span style="font-weight: 400;">Reading</span></li>
	      <li style="font-weight: 400;"><span style="font-weight: 400;">Science Reasoning</span></li>
	      <li style="font-weight: 400;"><span style="font-weight: 400;">Essay (Optional)</span></li>
	    </ul>
	  </td>
	</tr>
	<tr>
	  <td>
	    <p><strong>Length</strong></p>
	  </td>
	  <td>
	    <ul>
	      <li style="font-weight: 400;"><span style="font-weight: 400;">3 hours (without essay)</span></li>
	      <li style="font-weight: 400;"><span style="font-weight: 400;">3 hours, 50 minutes (with essay)</span></li>
	    </ul>
	  </td>
	  <td>
	    <ul>
	      <li style="font-weight: 400;"><span style="font-weight: 400;">2 hours, 55 minutes (without essay)</span></li>
	      <li style="font-weight: 400;"><span style="font-weight: 400;">3 hours, 40 minutes (with essay)</span></li>
	    </ul>
	  </td>
	</tr>
	<tr>
	  <td>
	    <p><strong>Reading</strong></p>
	  </td>
	  <td>
	    <p><span style="font-weight: 400;">5 reading passages</span></p>
	  </td>
	  <td>
	    <p><span style="font-weight: 400;">4 reading passages</span></p>
	  </td>
	</tr>
	<tr>
	  <td>
	    <p><strong>Science</strong></p>
	  </td>
	  <td>
	    <p><span style="font-weight: 400;">None</span></p>
	  </td>
	  <td>
	    <p><span style="font-weight: 400;">1 science section testing your critical thinking skills (not your specific science knowledge)</span></p>
	  </td>
	</tr>
	<tr>
	  <td>
	    <p><strong>Math</strong></p>
	  </td>
	  <td>
	    <p><span style="font-weight: 400;">Covers:</span></p>
	    <ul>
	      <li style="font-weight: 400;"><span style="font-weight: 400;">Arithmetic</span></li>
	      <li style="font-weight: 400;"><span style="font-weight: 400;">Algebra I &amp; II</span></li>
	      <li style="font-weight: 400;"><span style="font-weight: 400;">Geometry, Trigonometry and Data Analysis</span></li>
	    </ul>
	  </td>
	  <td>
	    <p><span style="font-weight: 400;">Covers:</span></p>
	    <ul>
	      <li style="font-weight: 400;"><span style="font-weight: 400;">Arithmetic</span></li>
	      <li style="font-weight: 400;"><span style="font-weight: 400;">Algebra I &amp; II</span></li>
	      <li style="font-weight: 400;"><span style="font-weight: 400;">Geometry and Trigonometry</span></li>
	    </ul>
	  </td>
	</tr>
	<tr>
	  <td>
	    <p><strong>Calculator Policy</strong></p>
	  </td>
	  <td>
	    <p><span style="font-weight: 400;">Some math questions don't allow you to use a calculator.</span></p>
	  </td>
	  <td>
	    <p><span style="font-weight: 400;">You can use a calculator on all math questions.</span></p>
	  </td>
	</tr>
	<tr>
	  <td>
	    <p><strong>Essays</strong></p>
	  </td>
	  <td>
	    <p><span style="font-weight: 400;">Optional. The essay will test your comprehension of a source text.</span></p>
	  </td>
	  <td>
	    <p><span style="font-weight: 400;">Optional. The essay will test how well you evaluate and analyze complex issues.</span></p>
	  </td>
	</tr>
	<tr>
	  <td>
	    <p><strong>How It's Scored</strong></p>
	  </td>
	  <td>
	    <p><span style="font-weight: 400;">Scored on a scale of 400&ndash;1600</span></p>
	  </td>
	  <td>
	    <p><span style="font-weight: 400;">Scored on a scale of 1&ndash;36</span></p>
	  </td>
	</tr>
      </tbody>
    </table>
    <p>Although the content of each is relatively similar, there are a few major differences that you should consider in order to see which test appeals to you. One factor to consider is the differences between the types of sections in the tests. For example, the ACT has a science section while the SAT doesn't. The SAT also has a math section where you are not allowed to use a calculator while on the ACT you can use the calculator for every math question. The timing for the sections also varies and can make a big difference.</p>
    Here is abreakdown of each section:
    <table class="table table-striped">
      <tbody>
	<tr>
	  <td>
	    <p><strong>Section</strong></p>
	  </td>
	  <td>
	    <p><strong>ACT</strong></p>
	  </td>
	  <td>
	    <p><strong>SAT</strong></p>
	  </td>
	</tr>
	<tr>
	  <td>
	    <p><span style="font-weight: 400;">English (ACT); Writing and Language (SAT)</span></p>
	  </td>
	  <td>
	    <p><span style="font-weight: 400;">45 minutes</span></p>
	    <p><span style="font-weight: 400;">75 questions</span></p>
	  </td>
	  <td>
	    <p><span style="font-weight: 400;">35 minutes</span></p>
	    <p><span style="font-weight: 400;">44 questions</span></p>
	  </td>
	</tr>
	<tr>
	  <td>
	    <p><span style="font-weight: 400;">Math</span></p>
	  </td>
	  <td>
	    <p><span style="font-weight: 400;">60 minutes</span></p>
	    <p><span style="font-weight: 400;">60 questions</span></p>
	  </td>
	  <td>
	    <p><span style="font-weight: 400;">80 minutes</span></p>
	    <p><span style="font-weight: 400;">58 questions</span></p>
	  </td>
	</tr>
	<tr>
	  <td>
	    <p><span style="font-weight: 400;">Reading</span></p>
	  </td>
	  <td>
	    <p><span style="font-weight: 400;">35 minutes</span></p>
	    <p><span style="font-weight: 400;">40 questions</span></p>
	  </td>
	  <td>
	    <p><span style="font-weight: 400;">65 minutes</span></p>
	    <p><span style="font-weight: 400;">52 questions</span></p>
	  </td>
	</tr>
	<tr>
	  <td>
	    <p><span style="font-weight: 400;">Science</span></p>
	  </td>
	  <td>
	    <p><span style="font-weight: 400;">35 minutes</span></p>
	    <p><span style="font-weight: 400;">40 questions</span></p>
	  </td>
	  <td>
	    <p><span style="font-weight: 400;">N/A</span></p>
	  </td>
	</tr>
	<tr>
	  <td>
	    <p><span style="font-weight: 400;">Essay (optional)</span></p>
	  </td>
	  <td>
	    <p><span style="font-weight: 400;">40 minutes</span></p>
	    <p><span style="font-weight: 400;">1 essay</span></p>
	  </td>
	  <td>
	    <p><span style="font-weight: 400;">50 minutes</span></p>
	    <p><span style="font-weight: 400;">1 essay</span></p>
	  </td>
	</tr>
      </tbody>
    </table>
    <p>Ultimately, the best way for you to decide which test to take is to sit down and take a timed full length practice test for each.</p>
    <p>You can print out free SAT and ACT tests (with answers!) at <a href="https://www.powerscore.com/sat/help/content_practice_tests.cfm#official-act">this link.</a></p>
    <p>After all of this, if you still can't decide between a test, keep in mind that you can always choose to take both tests and send your best score to colleges.</p>
  </div>
  <div class="row">
    <h2 class="head2">How do I sign up for a test?</h2>
    <p>Once you have decided on which test you want to take. It is time to sign up for an exam so that you know how much time you have left to study.</p>
    For the SAT go <a href="https://www.collegeboard.org/">here</a><br>
    For the ACT go <a href="http://www.act.org/">here</a><br>
    Here are the dates for the SAT and ACT exams this year:<br>
    <center>
      <img src="../static/images/dates.png" width="80%">
    </center>
  </div>
  <div class="row">
    <h2 class="head2">How do I prepare?</h2>
    <p>Once you know when you are taking the test, it's time to start cracking! Everyone is different so it is important to figure out which study methods work for you. The most important thing is to stay motivated and stick to your study plan. It is smart to combine prep books or websites that teach the material and have practice problems with full length practice tests in your study routine if possible. Following are some resources to help you get started.</p>
    <h3 class="head3">Websites</h3>
    <table class="table">
      <tbody>
	<tr>
	  <td>
	    <p><strong>SAT</strong></p>
	  </td>
	  <td>
	    <p><strong>ACT</strong></p>
	  </td>
	</tr>
	<tr>
	  <td>
	    <ul>
	      <li style="font-weight: 400;"><span style="font-weight: 400;"></span><span style="font-weight: 400;"></span><a href="https://collegereadiness.collegeboard.org/sat"><span style="font-weight: 400;">The Official College Board Website</span></a></li>
	      <li style="font-weight: 400;"><span style="font-weight: 400;"></span><span style="font-weight: 400;"></span><a href="https://www.khanacademy.org/test-prep/sat/new-sat-tips-planning#new-sat-about-sat"><span style="font-weight: 400;">Khan Academy</span></a></li>
	      <li style="font-weight: 400;"><span style="font-weight: 400;"></span><span style="font-weight: 400;"></span><a href="http://blog.prepscholar.com/complete-guide-to-the-new-sat-in-2016"><span style="font-weight: 400;">Prep Scholar</span></a></li>
	    </ul>
	  </td>
	  <td>
	    <ul>
	      <li style="font-weight: 400;"><span style="font-weight: 400;"></span><span style="font-weight: 400;"></span><a href="http://www.act.org/content/act/en/products-and-services/the-act/test-preparation.html"><span style="font-weight: 400;">The Official ACT Website</span></a></li>
	      <li style="font-weight: 400;"><span style="font-weight: 400;"></span><span style="font-weight: 400;"></span><a href="http://www.powerscore.com/sat/help/content_practice_tests.cfm"><span style="font-weight: 400;">Power Score</span></a></li>
	      <li style="font-weight: 400;"><span style="font-weight: 400;"></span><span style="font-weight: 400;"></span><a href="https://www.varsitytutors.com/act-practice-tests"><span style="font-weight: 400;">Varsity Tutor</span></a></li>
	    </ul>
	  </td>
	</tr>
      </tbody>
    </table>
    <h2 class="head3">Prep Books</h2>
    <table class="table table-striped">
      <tbody>
	<tr>
	  <td>
	    <p><strong>SAT Book</strong></p>
	  </td>
	  <td>
	    <p><strong>Price</strong></p>
	  </td>
	  <td>
	    <p><strong>ACT Book</strong></p>
	  </td>
	  <td>
	    <p><strong>Price</strong></p>
	  </td>
	</tr>
	<tr>
	  <td>
	    <p><span style="font-weight: 400;">The Official SAT Study Guide</span></p>
	  </td>
	  <td>
	    <p><span style="font-weight: 400;">$13.19</span></p>
	  </td>
	  <td>
	    <p><span style="font-weight: 400;">The Official ACT Prep Guide</span></p>
	  </td>
	  <td>
	    <p><span style="font-weight: 400;">$22.37</span></p>
	  </td>
	</tr>
	<tr>
	  <td>
	    <p><span style="font-weight: 400;">SAT Prep Black Book</span></p>
	  </td>
	  <td>
	    <p><span style="font-weight: 400;">$18.97</span></p>
	  </td>
	  <td>
	    <p><span style="font-weight: 400;">Cracking the ACT 2017</span></p>
	  </td>
	  <td>
	    <p><span style="font-weight: 400;">$10.70</span></p>
	  </td>
	</tr>
	<tr>
	  <td>
	    <p><span style="font-weight: 400;">Kaplan New SAT Premier 2017</span></p>
	  </td>
	  <td>
	    <p><span style="font-weight: 400;">$10.87</span></p>
	  </td>
	  <td>
	    <p><span style="font-weight: 400;">ACT Prep Black Book</span></p>
	  </td>
	  <td>
	    <p><span style="font-weight: 400;">$18.98</span></p>
	  </td>
	</tr>
	<tr>
	  <td>
	    <p><span style="font-weight: 400;">500+ Practice Questions for the New SAT</span></p>
	  </td>
	  <td>
	    <p><span style="font-weight: 400;">$15.32</span></p>
	  </td>
	  <td>
	    <p><span style="font-weight: 400;">ACT Premier 2016-2017</span></p>
	  </td>
	  <td>
	    <p><span style="font-weight: 400;">$17.40</span></p>
	  </td>
	</tr>
	<tr>
	  <td>
	    <p><span style="font-weight: 400;">McGraw-Hill Education SAT</span></p>
	  </td>
	  <td>
	    <p><span style="font-weight: 400;">$16.39</span></p>
	  </td>
	  <td>
	    <p><span style="font-weight: 400;">Barron's ACT 36</span></p>
	  </td>
	  <td>
	    <p><span style="font-weight: 400;">$10.68</span></p>
	  </td>
	</tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <h2 class="head2">SAT Subject Tests</h2>
    <h3 class="head3">Why yshould I take SAT Subject Tests?</h3>
    <p>1. Colleges may require subject tests<br />List of colleges that use SAT 2&rsquo;s : https://collegereadiness.collegeboard.org/sat-subject-tests/about/institutions-using</p>
    <p>2. It&rsquo;ll help you stand out in the college process<br />Even in your dream college doesn&rsquo;t require any subject tests, doing well on one or more tests can help you stand out from your competition.</p>
    <p>3. Show colleges your interests<br />You can take subject tests related to your majors to show how you are ready to continue studying a certain subject in college.</p>
    <p>4. Fulfill requirements or get credit<br />Some colleges use subject tests to place students in certain courses. Doing well on subject tests may allow you to get credit for introductory-level courses.</p>
  </div>
</div>
{% endblock %}
