<link rel="stylesheet" href="../static/css/bootstrap.min.css">
<link rel="stylesheet" href="../static/css/font-awesome.min.css">
<link rel="stylesheet" href="../static/css/nivo-lightbox.css">
<link rel="stylesheet" href="../static/css/nivo_themes/default/default.css">
<link rel="stylesheet" href="../static/css/style.css">
<!-- google web font css -->
<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,600,700' rel='stylesheet' type='text/css'>

<!-- favicon -->
<link rel="shortcut icon" href="../static/images/favicon.ico"/>
<center>
<h1 onload="
  var myCustomData: { foo: 'bar' };
  var event = new CustomEvent('myEvent', { detail: myCustomData });
  window.parent.document.dispatchEvent(event);">Thank you for your feedback!<h1>
</center>
