<link rel="stylesheet" href="../static/css/bootstrap.min.css">
<link rel="stylesheet" href="../static/css/font-awesome.min.css">
<link rel="stylesheet" href="../static/css/nivo-lightbox.css">
<link rel="stylesheet" href="../static/css/nivo_themes/default/default.css">
<link rel="stylesheet" href="../static/css/style.css">
<!-- google web font css -->
<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,600,700' rel='stylesheet' type='text/css'>

<!-- favicon -->
<link rel="shortcut icon" href="../static/images/favicon.ico"/>
<center>
  <div style="padding-top: 200px;">
    <h1>Thank you for your feedback!</h1>
  </div>
</center>
